/* src/components/Tarefa/Tarefa.css */

.tarefa-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
  }
  .tarefa-buttons{
    display: flex;
    align-items: center;
  }
  
  h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #3498db;
  }
  
  p {
    margin: 10px 0;
    font-size: 1.2rem;
  }
  
  button {
    background-color: #e74c3c;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 10px;
  }
  
  button:hover {
    background-color: #c0392b;
  }
  